<nav>
    <ul>
        <li><a href="/Dashboard">Dashboard</a></li>
        <li><a href="/Alimentacion">Alimentación</a></li>
        <li><a href="/InventarioAlimento">Inventario Alimento</a></li>
    </ul>
</nav>
